<h1>Crashes</h1>
<h2><%= params[:bundle] %></h2>
<table><% @crashes.each do |crash| %>
  <tr>
    <th>ID</th>
    <th>Version</th>
    <th>Code</th>
    <th>Path</th>
    <th>Exception</th>
    <th>Ex. code</th>
  </tr>
  <tr>
    <td><%= link_to crash.id, report_path( crash.report ) -%></td>
    <td><%= crash.version -%></td>
    <td><%= crash.code -%></td>
    <td><%= crash.path -%></td>
    <td><%= crash.extype -%></td>
    <td><%= crash.excode -%></td>
  </tr>
<% end %></table>