<table><% @crashes.each do |crash| %>
  <tr>
    <td><%= link_to crash.app.bundle, report_path( crash.report ) -%></td>
    <td><%= crash.app.process -%></td>
    <td><%= crash.version -%></td>
    <td><%= crash.code -%></td>
    <td><%= crash.path -%></td>
    <td><%= crash.extype -%></td>
    <td><%= crash.excode -%></td>
  </tr>
<% end %></table>