<h1>Crashes</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Bundle</th>
    <th>Version</th>
    <th>Revision</th>
    <th>OS</th>
    <th>Code</th>
    <th>Path</th>
    <th>Exception</th>
    <th>Ex. code</th>
  </tr>
  <% @crashes.each do |crash| %>
    <tr>
      <td><%= link_to crash.id, report_path( crash.report ) -%></td>
      <td><%= link_to crash.app.bundle, crashes_path( :bundle => crash.app.bundle ) -%></td>
      <td><%= crash.version -%></td>
      <td><%= crash.revision -%></td>
      <td><%= crash.osver %></td>
      <td><%= crash.code -%></td>
      <td><%= crash.path -%></td>
      <td><%= crash.extype -%></td>
      <td><%= crash.excode -%></td>
    </tr>
  <% end %>
</table>